
#login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;

    .login-form {
        height: max-content;
        padding: 2rem 1.5rem;
        border-radius: var(--b-radius);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        border: 1px solid;

        .login-form__title {
            text-transform: uppercase;
        }

        .login-form__input {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}